body,
input,
textarea,
button,
p,
span {
  font-weight: $font-weight-regular;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

h1, h2, h3, h4, h5, h6 {
  display: block;
  -webkit-font-smoothing: antialiased;
  font-weight: $font-weight-regular;
  a {
    text-decoration: none;
    font-weight: inherit;
  }
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

b, strong, .bold {
  font-weight: $font-weight-bold;
}

small, .small {
  font-size: 13px;
}
