@import "icons";
@import "core";

@import "base/scaffolding";
@import "base/utilities";
@import "base/typography";
@import "base/buttons";
@import "base/form";

@import "layouts/auth";

@import "components/form-page";
@import "components/list-page";

body {}

/*
** Override page transition of Nuxt.js
*/
.page-enter-active, .page-leave-active {
  transition: opacity .35s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}

.full-width .el-select {
  width: 100%;
}